@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;1,700&display=swap');


body {
    font-family: "Noto Sans";
    background-image: url(https://img.freepik.com/vector-gratis/fondo-degradado-lineas-azules-dinamicas_23-2148995756.jpg?w=740) ;
    background-size: cover;
  background-repeat:no-repeat;
  background-position: center center;
  
}

h1{
    text-align: center;
    font-size: 70px
}

nav a{
    text-decoration:none;
    color:inherit;
    font-size:14px;
    } 
    nav li{
    display:inline-block;
    width:10%;
    padding:5px 10px;
    background-color:#000;
    border:1px solid #000;
    text-align:center;
    color:#fff;
    border-radius: 20px
    }
nav li:hover{
        background-color:#fff;
        color:#000;
        }

#perfil{
        width: 35%;
        height: 60%;
        margin: auto;
        display: block;
}

#TECHO img{

    vertical-align: text-top;
}

#proyecto img{
    vertical-align: text-top;
    width: 15%;
    height: 30%;
 }

 #cope img{
    vertical-align:super;
 }

h2 {
text-align: center;
}

img {border-radius: 20px}

#excelp img{ vertical-align:middle;}